<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samuel.projet_android_644">

    <uses-sdk android:minSdkVersion="11" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditCompany" />
        <activity
            android:name=".EditActivity"
            android:label="Edit activity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".EditWorker" />
        <activity android:name=".ListCompanies" />
        <activity android:name=".ListActivities" />
        <activity
            android:name=".ListWorkers"
            android:label="Workers list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="WorkTime">

            <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            -->
        </activity>
        <activity android:name=".StartingInfos" />
        <activity android:name=".ViewWorker" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".ViewCompany" />
        <activity android:name=".ReportingSelection" />
        <activity android:name=".ReportingView" />
        <activity android:name=".RecapHourEnd" />
        <activity
            android:name=".EditWorker_js"
            android:label="@string/title_activity_edit_worker_js"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>